#multiple-content-blocks-box h2 {
	margin-bottom: 5px;
}

#multiple-content-blocks-box p.http-off {
	margin-top: 0px;
}

#multiple-content-blocks-box .wp-editor-wrap, #multiple-content-blocks-box-inactive .wp-editor-wrap {
	margin: 0px 0px 30px 0px;
}
	#multiple-content-blocks-box .wp-editor-wrap iframe, #multiple-content-blocks-box-inactive .wp-editor-wrap iframe {
		background: #fff;
	}
	
	#multiple-content-blocks-box input[type=text], #multiple-content-blocks-box-inactive input[type=text] {
	  width:100%;
	}

#multiple-content-blocks-box-inactive .mcb-content {
	display: none;
}

#multiple-content-blocks-box-inactive .mcb-show {
	cursor: pointer;
}

#multiple-content-blocks-box-inactive .mcb-delete {
	color: red;
	text-decoration: none;
	border-bottom: 1px solid red;
	padding: 0px 1px;
}
	#multiple-content-blocks-box-inactive .mcb-delete:hover {
		background: red;
		color: white;
	}